In [134]:
import yfinance as yf
import pandas as pd

allocations = {
    'PRKR': 0.10,
    'TMDX': 0.10,
    'ZETA': 0.10,
    'FTCI': 0.10,
    'LEAT': 0.10,
    'LNTH': 0.10,
    'TREE': 0.08,
    'BLBD': 0.08,
    'NXT': 0.08,
    'QXO': 0.04,
    'TSSI': 0.04,
    'UBER': 0.02,
    'AVGO': 0.02,
    'LLY': 0.02,
    'ELF': 0.02
}


tickers = ['PRKR', 'TMDX', 'ZETA', 'FTCI', 'LEAT', 'LNTH', 'TREE', 'BLBD', 'NXT', 'QXO', 'TSSI', 'UBER', 'AVGO', 'LLY', 'ELF']




initial_investment = 10000

# Competition period start and end dates
start_date = "2023-12-09"
end_date = "2025-01-22"

In [124]:
# Karol
'''
# Download raw stock prices (without allocation)
data = yf.download(tickers, start=start_date, end=end_date)['Close']

# Ensure the index (date) is properly set and timezone naive
data.index = pd.to_datetime(data.index).tz_localize(None)

# Reset the index to move the date into a column
data.reset_index(inplace=True)

# Fill NaN values in ETH with 0 only up until the first real value
eth_first_valid_index = data['ETH'].first_valid_index()
if eth_first_valid_index is not None:
    data.loc[:eth_first_valid_index, 'ETH'] = data.loc[:eth_first_valid_index, 'ETH'].fillna(0)

# Drop remaining NaN values in the entire dataset
data.dropna(inplace=True)

# Add an explicit index column
data.insert(0, 'Index', range(1, len(data) + 1))

# Save the cleaned data for Streamlit visualization
data.to_csv('karol_individual_stock_prices.csv', index=False)
'''

"\n# Download raw stock prices (without allocation)\ndata = yf.download(tickers, start=start_date, end=end_date)['Close']\n\n# Ensure the index (date) is properly set and timezone naive\ndata.index = pd.to_datetime(data.index).tz_localize(None)\n\n# Reset the index to move the date into a column\ndata.reset_index(inplace=True)\n\n# Fill NaN values in ETH with 0 only up until the first real value\neth_first_valid_index = data['ETH'].first_valid_index()\nif eth_first_valid_index is not None:\n    data.loc[:eth_first_valid_index, 'ETH'] = data.loc[:eth_first_valid_index, 'ETH'].fillna(0)\n\n# Drop remaining NaN values in the entire dataset\ndata.dropna(inplace=True)\n\n# Add an explicit index column\ndata.insert(0, 'Index', range(1, len(data) + 1))\n\n# Save the cleaned data for Streamlit visualization\ndata.to_csv('karol_individual_stock_prices.csv', index=False)\n"

# Stock Prices

In [ ]:
# Download raw stock prices (without allocation)
data = yf.download(tickers, start=start_date, end=end_date)['Close']

# Ensure the index (date) is properly set and timezone naive
data.index = pd.to_datetime(data.index).tz_localize(None)

# Reset the index to move the date into a column
data.reset_index(inplace=True)

# Fill missing values with 0 for stocks that didn't exist in the period
#data.fillna(0, inplace=True)
data.dropna(inplace=True)


# Add an explicit index column
data.insert(0, 'Index', range(1, len(data) + 1))

# Save the raw data for Streamlit visualization
#data.to_csv('tina_individual_stock_prices.csv', index=False)

[*********************100%***********************]  15 of 15 completed

In [137]:
data.head(100)

Ticker,Date,AVGO,BLBD,ELF,FTCI,LEAT,LLY,LNTH,NXT,PRKR,QXO,TMDX,TREE,TSSI,UBER,ZETA
0,2023-12-11,102.924004,21.809999,128.610001,8.20,9.50,584.039978,71.970001,40.980000,0.19,87.040001,71.930000,23.309999,0.27,62.459999,7.76
1,2023-12-12,107.227997,24.090000,131.070007,7.66,9.40,584.760010,75.510002,41.880001,0.18,76.000000,73.190002,23.040001,0.28,62.720001,8.07
2,2023-12-13,108.969002,25.709999,141.789993,8.15,9.40,597.500000,76.559998,43.180000,0.18,79.279999,76.489998,26.570000,0.28,61.970001,8.58
3,2023-12-14,110.649002,26.010000,143.210007,8.90,9.11,573.669983,77.889999,46.700001,0.18,67.680000,79.000000,28.700001,0.30,62.500000,8.59
4,2023-12-15,112.973999,24.889999,144.369995,9.42,9.30,572.039978,76.040001,47.869999,0.17,68.800003,77.500000,29.660000,0.30,61.860001,8.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2024-04-29,133.862000,34.520000,171.860001,4.48,8.00,737.200012,67.260002,44.110001,0.15,120.000000,97.250000,37.349998,0.83,67.400002,12.64
96,2024-04-30,130.026993,32.955002,162.529999,4.60,8.00,781.099976,66.540001,42.790001,0.14,114.480003,94.129997,48.270000,0.83,66.269997,12.36
97,2024-05-01,124.286003,32.830002,158.520004,4.47,7.55,776.750000,67.389999,42.869999,0.14,113.680000,117.599998,47.889999,0.81,67.790001,12.60
98,2024-05-02,123.857002,34.299999,160.529999,4.66,7.60,755.909973,78.180000,43.680000,0.14,111.839996,124.440002,49.330002,0.84,68.570000,12.61
99,2024-05-03,127.810997,35.400002,160.119995,5.43,7.65,734.969971,75.529999,46.099998,0.15,111.680000,127.989998,49.410000,0.83,69.230003,12.82

# Daily returns

In [139]:
# Filter data to start from competition start date
competition_start_date = "2024-12-09"
competition_data = data[data['Date'] >= competition_start_date].copy()

# Calculate initial investment values for each stock based on percentage allocation
initial_values = {ticker: initial_investment * allocations[ticker] for ticker in tickers}

# Calculate the initial stock prices on the competition start date
initial_prices = competition_data.iloc[0][tickers]

# Calculate daily portfolio values based on price fluctuations
for stock in tickers:
    competition_data[stock] = (competition_data[stock] / initial_prices[stock]) * initial_values[stock]

# Sum up daily returns for total portfolio value change
#competition_data['Total Return'] = competition_data[tickers].sum(axis=1)

# Save daily cash flow changes
competition_data.reset_index(drop=True, inplace=True)
returns = competition_data

# Uncomment the line below to save the processed returns data to CSV
#competition_data.to_csv('tina_stock_daily_returns.csv', index=False)

# ALL the stock prices

In [161]:
import yfinance as yf
import pandas as pd

# List of stock tickers from competition portfolios
portfolio_tickers = [
    "AAPL", "MSFT", "NVDA", "TGT", "LLY", "GOOG", "AMZN", "BTC-USD", "ETH-USD", "TSLA", 
    "BRK-B", "NTR", "FLUT", "DECK", "GOLD", "PATH", "ANET", "CTRA", "BORR", "RGTI",
    "PRKR", "TMDX", "ZETA", "FTCI", "LEAT", "LNTH", "TREE", "BLBD", "NXT", "QXO", "TSSI", 
    "UBER", "AVGO", "ELF", "MSCI", "SWPPX", "FXAIX", "BABA", "PFE", "TM", "UL", "JPM"
]

# Additional stocks from the provided image
additional_tickers = [
    "SPY",    # S&P 500
    "TSLA",   # Tesla
    "AAPL",   # Apple
    "KO",     # Coca-Cola
    "BTC-USD",# Bitcoin
    "^IXIC",   # Nasdaq
    "DIA",    # Dow Jones (Dow 30)
    "PFE",    # Pfizer
    "TM",     # Toyota
    "BABA",   # Alibaba
    "UL",     # Unilever
    "JPM"     # JPMorgan Chase
]

# Combine all tickers (ensuring no duplicates)
all_tickers = list(set(portfolio_tickers + additional_tickers))

# Define competition start date
start_date = "2024-12-09"
end_date = "2025-01-22"

# Download stock prices from Yahoo Finance
stock_data = yf.download(all_tickers, start=start_date, end=end_date)['Close']

# Handle missing values
# 1. Fill forward missing values for existing stocks
stock_data.fillna(method='ffill', inplace=True)

# 2. Fill backward to handle leading NaNs
stock_data.fillna(method='bfill', inplace=True)

# 3. Drop any remaining NaN values if still present
stock_data.dropna(axis=0, how='any', inplace=True)

# Reset index to store date column properly
stock_data.reset_index(inplace=True)

# Save the cleaned data to a CSV file
output_file = "all_stock_prices_since_competition_start.csv"
stock_data.to_csv(output_file, index=False)

print(f"Stock data successfully saved to {output_file}")

[*********************100%***********************]  46 of 46 completed
C:\Users\PC Loaner A\AppData\Local\Temp\ipykernel_44848\3091327038.py:40: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  stock_data.fillna(method='ffill', inplace=True)
C:\Users\PC Loaner A\AppData\Local\Temp\ipykernel_44848\3091327038.py:43: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  stock_data.fillna(method='bfill', inplace=True)

Stock data successfully saved to all_stock_prices_since_competition_start.csv

In [159]:
stock_data.tail()

Ticker,Date,AAPL,AMZN,ANET,AVGO,BABA,BLBD,BORR,BRK-B,BTC-USD,...,TGT,TM,TMDX,TREE,TSLA,TSSI,UBER,UL,ZETA,^IXIC
39,2025-01-17 00:00:00+00:00,229.979996,225.940002,119.949997,237.440002,85.120003,40.959999,3.47,467.950012,104462.039062,...,133.610001,180.779999,57.200001,40.639999,426.500000,12.01,67.339996,55.66,18.58,19630.199219
40,2025-01-18 00:00:00+00:00,229.979996,225.940002,119.949997,237.440002,85.120003,40.959999,3.47,467.950012,104408.070312,...,133.610001,180.779999,57.200001,40.639999,426.500000,12.01,67.339996,55.66,18.58,19630.199219
41,2025-01-19 00:00:00+00:00,229.979996,225.940002,119.949997,237.440002,85.120003,40.959999,3.47,467.950012,101089.609375,...,133.610001,180.779999,57.200001,40.639999,426.500000,12.01,67.339996,55.66,18.58,19630.199219
42,2025-01-20 00:00:00+00:00,229.979996,225.940002,119.949997,237.440002,85.120003,40.959999,3.47,467.950012,102016.664062,...,133.610001,180.779999,57.200001,40.639999,426.500000,12.01,67.339996,55.66,18.58,19630.199219
43,2025-01-21 00:00:00+00:00,222.639999,230.710007,121.500000,240.309998,85.379997,42.060001,3.63,468.570007,106146.265625,...,137.339996,186.929993,56.730000,44.490002,424.070007,13.20,67.739998,56.91,19.02,19756.779297